
<ion-content force-overscroll="false" class="landing-page bg-gradient">
    <div class="wrap desktop">
    <header>
        <div class="inner">
            <nav>
                <ul>
                    <div class="logo title"><a href="/">JoyMe</a></div>
                    <li (click)="contactUs()">צור קשר</li>
                    <li (click)="getPage('terms-and-conditions')"><a>לתנאים</a></li>
                    <li (click)="getPage('policy')"><a>מדיניות פרטיות</a></li>
                    <li (click)="registerForm()"><a>כניסה</a></li>
                    <li (click)="registerForm()"><a>הרשמה חינם</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="wrap">
        <section class="half">
            <h1>האתר לחילופי זוגות בישראל</h1>
            <div class="description">
                אידיאלי למציאת זוגות על סמך ההעדפות המיניות ואורח החיים שלך, בין אם אתה זוג, אישה או גבר.
            </div>
            <div class="download">
                <a href="https://play.google.com/store/apps/details?id=il.co.joyme&hl=he&gl=il" target="_blank"><img src="/assets/img/google_play.svg"></a>
                <a href="/"><img src="/assets/img/pwa.png"></a>
            </div>
            <ion-button
                        expand="block"
                        fill="outline"
                        shape="round"
                        class="button-landing ion-margin-bottom register-btn"
                        (click)="registerForm()"
                >
                    הרשמה חינם!
                </ion-button>
        </section>
        <section class="half">
                <img src="/assets/img/phone.png">
        </section>
    </main>
</div>
    <div class="vertical-layout safe-area-bottom mobile">
        <div class="section-brand">
            <div class="logo title">
                JoyMe
                <div class="subtitle">אפליקציה להחלפת זוגות</div>
            </div>
        </div>

        <div class="section-buttons ion-padding">
            <div *ngIf="showCodeFormStatus === 0" class="ion-padding">
                לחיצה על כפתור כניסה או הרשמה מהווה את הסכמתך <span (click)="getPage('terms-and-conditions')" class="link">לתנאים</span> שלנו
            </div>
            <div *ngIf="showCodeFormStatus === 0">
                <ion-button
                        expand="block"
                        fill="outline"
                        color="white"
                        shape="round"
                        class="button-landing ion-margin-bottom"
                        (click)="codeFormStatus(1)"
                >

                    הרשמה חינם
                </ion-button>
                <ion-button
                        expand="block"
                        fill="outline"
                        color="white"
                        shape="round"
                        class="button-landing ion-margin-bottom"
                        (click)="codeFormStatus(1)"
                >
                    כניסה
                </ion-button>
                <!--<ion-button
                        expand="block"
                        fill="outline"
                        color="white"
                        shape="round"
                        class="button-landing ion-margin-bottom"
                        appGoogleSignin>
                    <img src="/assets/img/google-logo.svg"/>
                    כניסה באמצעות גוגל
                </ion-button>-->
            </div>
        
            <form class="phone-form" *ngIf="showCodeFormStatus === 1" [formGroup]="phoneForm"
                  (ngSubmit)="logIn(phoneForm)">
                  <span class="phone-notice">למספר הזה ישלח הודע לאישור החשבון</span>
                <div class="form-group">
                    <div class="country-code">+972</div>
                    <ion-input type="number" #phone placeholder="הכנס מספר טלפון" formControlName="phone"
                               class="form-control ion-margin-vertical" id="phone"></ion-input>
                </div>

                    <ion-button
                            expand="block"
                            fill="outline"
                            color="white"
                            type="submit"
                            shape="round"
                            class="button-landing ion-margin-bottom">
                        <ion-spinner *ngIf="loadingSpinner"></ion-spinner>
                        <span *ngIf="!loadingSpinner">קבל קוד</span>
                    </ion-button>
            </form>
            <form *ngIf="showCodeFormStatus === 2" [formGroup]="codeForm" (ngSubmit)="verifyCode(codeForm)">
                <div class="form-group">
                    <ion-input placeholder="הזן את הקוד כאן" formControlName="code"
                               class="form-control ion-margin-bottom"
                               id="code"></ion-input>
                </div>
                <div class="form-group">
                    <ion-button
                            expand="block"
                            fill="outline"
                            color="white"
                            type="submit"
                            shape="round"
                            class="button-landing ion-margin-bottom">
                        <ion-spinner *ngIf="loadingSpinner"></ion-spinner>
                        <span *ngIf="!loadingSpinner">אמת קוד</span>
                    </ion-button>
                </div>
            </form>
            <ion-button
                    *ngIf="showCodeFormStatus !== 0"
                    (click)="codeFormStatus(0)"
                    fill="outline"
                    color="white"
                    type="submit"
                    shape="round"
                    class="button-landing close ion-margin-bottom">
                <ion-icon name="close"></ion-icon>
            </ion-button>
            <!-- <ion-button fill="clear" color="white" class="button-clear">
              Trouble logging in?
            </ion-button> -->
        </div>
    </div>
    <video
            id="video"
            autoplay="autoplay"
            preload="auto"
            muted="muted"
            loop="true"
            class="bg-video"
    >
        <source src="assets/video/video.mov" type="video/mp4"/>
    </video>
    <span id="sign-in-button"></span>
</ion-content>
